[Desktop Entry]
Name=ePaper
Exec=/home/pi/epd/run.sh
Icon=/home/pi/example.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Application;Development;
MultipleArgs=false
